.flipcard {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1s;
}

.flipcard-container {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 1s;
}

.fp-back {
    transform: rotateY(180deg);
}

@media (hover : hover){
    .flipcard-container:hover {
        transform: rotateY(180deg);
    }
    .mobile-fallback-for-flipcards {
        display: none;
    }
}

@media (hover : none){

    .mobile-fallback-for-flipcards {
        display: block;
    }
}





