.flipcard {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1s;
}

.flipcard-container {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 1s;
}

.fp-back {
    transform: rotateY(180deg);
}

.flipcard-container:hover {
    transform: rotateY(180deg);
}

.flipcard-container:active {
    transform: rotateY(180deg);
}
